@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-display: optional;
    src: url(/fonts/plus-jakarta-sans-var.woff2) format('woff2');
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
